.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
}

.header__text-container {
  align-self: center;
}

.header__h1 {
  font-size: 2.75rem;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 24px;
}

.header__para {
  margin-bottom: 24px;
  font-size: 1.125rem;
  line-height: 1.6;
}

.header__hero-img {
  width: 100%;
  border-radius: var(--radius-xl);
}
