.link:link,
.link:visited {
  display: inline-block;
  background: var(--color-teal-9);
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 16px;
  /* If you want a rounded effect, set the border-radius to at least half the
  element's height. Tip: any value higher than that will do. */
  border-radius: 100px; /* Actually, 26.5px is the minimum required value. */
}

.link--size--l:link,
.link--size--l:visited {
  font-size: 1.125rem;
  padding: 16px 32px;
}

.link:hover,
.link:active {
  background-color: var(--color-teal-8);
}
