.page {
  font-family: "Inter", sans-serif;
  color: var(--color-gray-8);
}

.page__inner {
  width: 960px;
  margin: 0 auto;
}

.page__header {
  margin-top: 48px;
}

.page__header,
.page__section {
  margin-bottom: 48px;
}

.page__footer {
  margin-bottom: 48px;
  font-size: 0.875rem;
  color: var(--color-gray-7);
}
