.section__h2 {
  margin-block-end: 48px;
  font-size: 2.25rem;
  letter-spacing: -0.5px;
}

.section__h2--mb--24 {
  margin-block-end: 24px;
}

.section__h2--text--2xl {
  font-size: 1.5rem;
}

.section__content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}
