.section__h2 {
  margin-block-end: 48px;
}

.section__h2--mb--24 {
  margin-block-end: 24px;
}

.section__content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}
