.testimonial {
}

.testimonial__img {
  width: 100%;
}

.testimonial__text-container {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial__h2 {
  margin-bottom: 24px;
}

.testimonial__blockquote {
  font-style: italic;
  margin-bottom: 24px;
}

.testimonial__para {
}
