.testimonial {
  background-color: var(--color-teal-9);
  color: var(--color-teal-0);
  padding: 24px;
}

.testimonial__img {
  width: 100%;
}

.testimonial,
.testimonial__img {
  border-radius: var(--radius-xl);
}

.testimonial__text-container {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial__blockquote {
  font-style: italic;
  margin-bottom: 24px;
}

.testimonial__para {
  color: var(--color-teal-1);
}
